#b_nav{
	z-index:10000;
	position:fixed;
	top:250px;
	left:0;
	width:200px;
	height:519px;
	background:red;
}

#board_navi{
	
}

#board_navi ul{
	
	
}

#board_navi ul li{
	
}

#board_navi ul li a{
	
}