html, body {
	position:absolute;
	width: 100%;
	margin: 0;
	padding: 0;
	height: 100%;
}

#header {
	z-index: 999;
	position: fixed;
	width: 100%;
	height: 100px;
	top: 0;
	background: #fff;
}

/*로그인 메뉴*/
#top_link {
	position: fixed;
	top:0;
	right:0;
	margin: 0 0 0 760px;
	height: 20px;
	z-index: 10000;
}

.top_link_ul {
	float: right;
	list-style: none;
	height: 22px;
}

.top_link_ul li {
	margin: 4px 0 0 0;
	float: left;
	list-style: none;
}

.top_link_li01 {
	padding-right: 10px;
}

.top_link_ul li	a {
	font-size: 15px;
	color: black;
	letter-spacing: -1px;
	font-family: NANUMBARUNGOTHIC, '나눔바른고딕';
}

/*  ▼ 탑메뉴  (히든레이어) ===================================*/
#top_navi {
	position: absolute;
	margin: 0;
	left: 50px;
	width: 950px;
	padding: 20px;
	height: 50px;
	z-index: 15;
} /* 탑 메뉴 부분 */
#top_logo {
	display: block;
	position: absolute;
	float: left;
	padding: 0px 0 0 20px;
	z-index: 10000;
} /*  상단 로고 */

/* 탑 메뉴 네비게이션 */
#top_navi{
	position: fixed;
	left:250px;
	width: 1200px;
	height:50px;
	margin-top:5px;
}


#top_navi ul li{
	display:block;
	background:#fff;
	padding:10px;
	margin-right:10px;
	list-style:none;
	float:left;
	text-align:center;
	width: 180px;
}


#top_navi ul li:hover{	
	list-style: none;
	text-align: center;
	font-size: 15px;
	line-height: 30px;
	font-weight: bold;
	font-family: NANUMBARUNGOTHIC, '나눔바른고딕';
	background-color: #feffc1! important;
}


#top_navi ul li a{
	display:block;
	list-style: none;
	text-align: center;
	font-size: 18px;
	line-height: 30px;
	
	font-family: NANUMBARUNGOTHIC, '나눔바른고딕';
	color:#222;
	text-decoration: none;
}


/* 탑 메뉴 네비게이션 */

#banner {
	position: fixed;
	margin-top: 100px;
}

#topmenu {
	z-index: 10000;
	position: absolute;
	top: 20px;
	left: 500px;
	width: 500px;
	height: 48px;
	margin: 10px 0;
}

#topmenu li {
	float: left;
	width: 117px;
	height: 48px;
	list-style: none;
	margin-right: 5px;
	background-color: #fff;
}
/* ul#topmenu li a{display:inline; background:#123456; margin:2px 0; padding:5px; color:#fff; font:bold 1em arial;
						text-decoration:none;} */
/* ul#topmenu li a:hover{background:#456789; text-decoration:underline; color:red;} */
#content {
	position: absolute;
	width: 100%;
	height: 1000px;
	background: #ccc;
}

#bottom {
	z-index: 10000;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 30px;
	background: #feffc1;
	font-family: NANUMBARUNGOTHIC, '나눔바른고딕';
}

tr{
	font-family: NANUMBARUNGOTHIC, '나눔바른고딕';
}

td{
	font-family: NANUMBARUNGOTHIC, '나눔바른고딕';
}